*{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.card {
  -webkit-box-shadow: 5.5px -9.5px 10px 3px #dddddd;
  -moz-box-shadow: 5.5px -9.5px 10px 3px #dddddd;
  box-shadow: 1.5px -4.5px 10px 3px #dddddd;
  width: 300px;
  text-align: center;
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
